:root {
    box-sizing: border-box;
    font-size: 100%;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,"Liberation Mono", "Courier New", monospace;
}

@font-face {
    font-family: Norse-Bold;
    src: url(font/Norse-Bold.otf);
}


*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
}

.img-container {
    display: flex;
    
}

.bg-img {
    width: 40vw;
    height: 100vh;
}

/* container of the odin img including text */

.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 200px;
}

.logo img {
    width: 7vw;
    justify-content: center;
    align-items: center;
}

.logo > p {
    font-family: Norse-Bold;
    font-size: 4.5rem;
    color: white;
}

/* Credit at the bottom of bg img */

.img-container > div:last-child {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 40vw;
    color: white;
    bottom: 0;
    font-size: 0.8rem;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #F9FAFB;
}

/* paragraph styling */

.para {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 40px;
    padding: 30px;
    width: 90%;
}

.para span:first-child {
    display: block;
}

.para p:last-child span {
    display: inline;
    font-style: italic;
}


.para p:last-child{
    padding-top: 25px;

}

/* Form styling */

.form-container > p {
    display: block;
    width: 90%;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 70px;
    /* padding: 30px; */
}

.bg-form {
    /* border: 5px solid red; */
    background-color: #FFFEFE;
    height: 350px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.form-container div {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    /* width: 250px; */
    margin-left: 50px;
    padding: 20px;
}

input {
    width: min(250px, 11vw);
    height: 30px;
    border: 3px solid #E5E7EB;
    border-radius: 3px;
}

input:focus {
    border-color: rgb(82, 82, 253);
    box-shadow: 4px 7px rgb(82, 82, 253);
}

.footer {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 20px;
    padding-top: 30px;
}

.btn {
    position: relative;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #596D48;
    color: white;
    font-size: 1.2rem;
}

.footer a {
    color: #596D48;
}

.btn:active {
    top: 3px;
}

.footer > p {
    font-size: 1.2rem;
}